/* styles5.css */
.sidebar {
  position: fixed; /* Fija el sidebar en la pantalla */
  top: 0;
  left: 0;
  height: 100%;
   /* Color de fondo del sidebar */
  transition: transform 0.2s ease, width 0.2s ease;
  z-index: 40; /* Asegúrate de que el sidebar esté por encima del contenido */
  overflow-y: auto;
  /* Agrega un diseño básico para el sidebar */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Cuando el sidebar está abierto */
.sidebar.open {
  width: 250px; /* Ancho cuando está abierto */
  transform: translateX(0); /* Alinea el sidebar a la izquierda */
}

/* Cuando el sidebar está cerrado */
.sidebar.closed {
  width: 50px; /* Ancho cuando está cerrado */
  transform: translateX(-0px); /* Desplaza el sidebar hacia la izquierda */
}

/* Ajustes para el contenido principal */
.main-content {
  transition: margin-left 0.2s ease; /* Transición suave para el contenido */
  margin-left: 80px; /* Ajusta el margen para que el contenido no quede oculto detrás del sidebar cuando está cerrado */
}

/* Cuando el sidebar está abierto, el margen del contenido principal se ajusta */
.main-content.shifted {
  margin-left: 250px; /* Ajusta el margen cuando el sidebar está abierto */
}
